# ############################################################################
# THE FAMO-LEGACY OMNISPHERE APPLICATION MASTER ROOT DIRECTORY
# APPL0007173 // CRID: 58720358 // MID: 904218607 // COMMAND: MUSKOGEE, OK
# HASH: 7679777DD08BF15B196081B4FEC953359F20ADDB63708D437D36BBDF42B0C6C4A
# ############################################################################
